<div class="control-panel-rro">
    <button type="button" class="btn btn-light p-2 border border-secondary" id="button-checkbox-rro-order-list-container">
        <i class="fas fa-print"></i> 
        Checkbox PPO
    </button>
    
    <div id="collapseCheckboxRroOrderList">
        <div class="card checkbox-rro-order-list-card-body card-body page-header">
            <div id="checkbox-rro-before-load" class="preloader">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td>
                                <h3>Статус каси</h3>
                                *для роботи з касою запустіть
                                <br> - Checkbox підпис або HSM (DepositSign)
                            </td>
                            <td>
                                <span class="checkbox-rro-order-status">
                                        
                                </span>
                                <button class="btn btn-light p-2 border border-secondary checkbox-rro-order-list-button-refresh">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>Відкрити / Закрити зміну</h4>
                            </td>
                            <td id="item-shift" >
                                
                            </td>
                        </tr>
                        <!-- <tr>
                            <td>
                                <h4>Друкувати z-звіт </h4>*за останньою закритою зміною
                            </td>
                            <td>
                                <a target="_blank" href="" class="btn btn-info"><i class="fa fa-print fa-fw"></i> Друкувати z-звіт</a>
                            </td>
                        </tr>
                       
                        <tr>
                            <td>
                                <h4>Службове внесення / винесення коштів </h4>*внесення зі знаком +<br>*винесення зі знаком -
                            </td>
                            <td>
                                <p>Баланс: </p>
                                <div class="col-md-9 d-flex">
                                    <input type="number" class="form-control checkbox-rro-order-list-input-service-cash" value="">
                                        <button class="btn btn-success checkbox-rro-order-list-button-service-cash ml-3">
                                            <i class="far fa-money-bill-alt"></i>
                                        </button>
                                </div>
                                <div class="col-md-3">
                                    
                                </div>
                            </td>
                        </tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>